$font_color_main: #2c4058;
$font_color_accent: #ffffff;
$hover_light_color: #8a40ee;
$hover_dark_color: #300865;
$header_bgrnd: linear-gradient(
  45deg,
  rgb(85, 183, 255, 0.9) 0%,
  rgb(126, 90, 255, 0.9) 100%
);
